<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="/fragments :: meta" th:remove="tag"/>
    <title>Magic 8-ball</title>
    <th:block th:replace="/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="/fragments :: header" th:remove="tag"/>

<main>
    <div class="container">
        <h3 class="center">Magic 8-ball</h3>

        <div class="row center-align">
            <div class="col s6 m6 offset-s3 offset-m3 white-text">
                <div class="input-field">
                    <input id="question_input" type="text" class="validate">
                    <label for="question_input">Ask me a question</label>
                </div>
            </div>
        </div>

        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button"
               class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>

        <div class="row center">
            <img src="img/m8b_front.png" alt="image loading failed."/>
        </div>

    </div>
</main>

<div class="container">
    <th:block th:replace="/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
