<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <th:block th:replace="/fragments :: meta" th:remove="tag"/>
    <title>Magic 8-ball</title>
    <th:block th:replace="/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="/fragments :: header" th:remove="tag"/>

<main>
    <div class="container">
        <h3 class="center"><a href="/" class="black-text">Magic 8-ball</a></h3>

        <div class="row center-align">
            <div class="col s6 m6 offset-s3 offset-m3 white-text">
                <form th:action="@{/ask}" th:method="post" th:object="${question_input}">
                    <div class="input-field">
                        <input th:name="question_input" id="question_input" type="text">
                        <label for="question_input">Write some question</label>
                    </div>

                    <div class="row center">
                        <button class="btn waves-effect waves-light" type="submit" name="question_input">Ask me</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row center">
            <div class="image_with_txt"
                 th:if="${picture_side == T(pl.karolskolasinski.magic8ball.model.PictureSide).FRONT}">
                <img src="img/m8b_front_fixed.png" alt="Magic 8-ball" height="400">
                <div class="centered_text_over_image white-text"><span th:text="*{answer}"></span></div>
            </div>

            <div class="image_with_txt"
                 th:if="${picture_side == T(pl.karolskolasinski.magic8ball.model.PictureSide).BACK}">
                <img src="img/m8b_back_fixed.png" alt="Magic 8-ball" height="400">
                <div class="centered_text_over_image white-text"><span th:text="*{answer}"></span></div>
            </div>
        </div>

    </div>
</main>

<div class="container">
    <th:block th:replace="/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
